@import 'settings';
@import 'foundation-emails';

html,
body,
table.body {
	background-color: #fff;
}

.header {
	border-top: 5px solid $brand-color;
}

.first-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo {
	width: 200px;
}

.for-attention {
	margin-bottom: 40px;
}

.review-win {
	margin: 30px 0;
}

.footer-separator {
	border-top: 3px solid $medium-gray;
}

.eig img {
	margin-top: 20px;
	margin-bottom: 10px;
}

.footer-text {
	color: $dark-gray;
	font-size: 12px;
	padding-top: 10px;
}

.link-not-working {
	padding-top: 10px;
	font-size: 12px;
	color: $dark-gray;
}